#Main{
    -fx-background-color: #282C35;
}
#databaseMenuBox, #tableQuery, #databaseMenu{
    -fx-background-color: #1A1C22;
}

#returnMainMenuButton{
    -fx-background-color:  rgba(62, 66, 74, 0.50);
    -fx-text-fill: #FFF;
    -fx-font-family: Inter;
    -fx-font-size: 16px;
    -fx-font-style: normal;
    -fx-font-weight: 700;
    -fx-pref-height: 45;
    -fx-line-height: normal;
    -fx-alignment: center;
    -fx-background-radius: 100;
}

#returnMainMenuButton:hover{
    -fx-background-color:  #F15B22;
    -fx-text-fill: #FFF;
    -fx-font-family: Inter;
    -fx-font-size: 16px;
    -fx-font-style: normal;
    -fx-font-weight: 700;
    -fx-pref-height: 45;
    -fx-line-height: normal;
    -fx-alignment: center;
    -fx-background-radius: 100;
}

#databaseCreate{
    -fx-text-fill: #FFF;
    -fx-font-family: Inter;
    -fx-font-size: 16px;
    -fx-font-style: normal;
    -fx-line-height: normal;
    -fx-background-color: transport;
    -fx-border-width: 2px;
    -fx-border-color: #52555B;
    -fx-border-insets: 10;
}

#databaseCreate:hover{
    -fx-text-fill: black;
    -fx-font-family: Inter;
    -fx-font-size: 16px;
    -fx-font-style: normal;
    -fx-line-height: normal;
    -fx-background-color: #52555B;
    -fx-background-insets: 10;
    -fx-border-width: 2px;
    -fx-border-color: #52555B;
}

.scroll-pane{
    -fx-background-color: #1A1C22;
}
.scroll-pane .scroll-bar {
    -fx-background-color: rgba(44, 47, 54, 0.8); /* 设置滚动条的背景颜色 */
    -fx-pref-width: 15;
}
.scroll-pane .viewport{
    -fx-background-color:#1A1C22;
}
/* 自定义滚动条上的按钮（向上、向下按钮）样式 */
.scroll-pane .scroll-bar .increment-button,
.scroll-pane .scroll-bar .decrement-button {
    -fx-background-color:  #1A1C22; /* 设置按钮的背景颜色 */
    -fx-background-radius: 0; /* 去除按钮的圆角 */
}

/* 自定义滚动条上的滑块（拖动条）样式 */
.scroll-pane .scroll-bar .thumb {
    -fx-background-color:  #1A1C22; /* 设置滑块的背景颜色 */
    -fx-background-radius: 0; /* 去除滑块的圆角 */
}

#databaseNameButton{
    -fx-text-fill: #FFF;
    -fx-font-family: Inter;
    -fx-font-size: 14px;
    -fx-font-style: normal;
    -fx-min-height: 35;
    -fx-line-height: normal;
    -fx-alignment: center;
    -fx-pref-width: 220;
    -fx-background-color: transport;
    -fx-font-weight: 700;
}

#databaseNameButton:hover{
    -fx-text-fill: #F15B22;
    -fx-font-family: Inter;
    -fx-font-size: 14px;
    -fx-font-style: normal;
    -fx-min-height: 35;
    -fx-line-height: normal;
    -fx-alignment: center;
    -fx-pref-width: 220;
    -fx-background-color: black;
    -fx-font-weight: 700;
}

#databaseNameButton:selected{
    -fx-text-fill: #F15B22;
    -fx-font-family: Inter;
    -fx-font-size: 14px;
    -fx-font-style: normal;
    -fx-min-height: 35;
    -fx-line-height: normal;
    -fx-alignment: center;
    -fx-pref-width: 220;
    -fx-background-color: black;
    -fx-font-weight: 700;
}

#buttonBox{
    -fx-spacing: 7;
    -fx-min-height: 35;
    -fx-alignment: center;
    -fx-background-color: transport;
}

#buttonBox .button{
    -fx-background-radius: 10px;
    -fx-background-color: #3E424A;
    -fx-pref-width: 50;
    -fx-text-fill: #FFF;
    -fx-font-family: Inter;
    -fx-font-size: 12px;
    -fx-min-height: 10;
    -fx-font-style: normal;
    -fx-font-weight: 600;
    -fx-line-height: normal;
}

#buttonBox .button:hover{
    -fx-background-radius: 10px;
    -fx-background-color: #F15B22;
    -fx-pref-width: 50;
    -fx-text-fill: #FFF;
    -fx-font-family: Inter;
    -fx-font-size: 12px;
    -fx-min-height: 10;
    -fx-font-style: normal;
    -fx-font-weight: 600;
    -fx-line-height: normal;
}