#Main{
    -fx-background-color: #1A1C22;
}

#title{
    -fx-alignment: center;
    -fx-text-fill: #FFF;
    -fx-font-family: Inter;
    -fx-font-size: 24px;
    -fx-font-style: normal;
    -fx-font-weight: 700;
    -fx-line-height: normal;
}

#tableQueryTextField{
    -fx-background-color: #3E424A;
    -fx-text-fill: #FFF;
    -fx-font-family: Inter;
    -fx-font-size: 18px;
    -fx-font-style: normal;
    -fx-font-weight: 500;
    -fx-line-height: normal;
}

#tableQueryButton{
    -fx-background-color: #3E424A;
    -fx-text-fill: #FFF;
    -fx-font-family: Inter;
    -fx-font-size: 18px;
    -fx-font-style: normal;
    -fx-font-weight: 700;
    -fx-line-height: normal;
}

#tableQueryButton:hover{
    -fx-background-color: #F15B22;
    -fx-text-fill: #FFF;
    -fx-font-family: Inter;
    -fx-font-size: 18px;
    -fx-font-style: normal;
    -fx-font-weight: 700;
    -fx-line-height: normal;
}


.scroll-pane{
    -fx-background-color: rgba(222, 223, 227, 0.35);
}
.scroll-pane .scroll-bar {
    -fx-background-color: rgba(44, 47, 54, 0.8); /* 设置滚动条的背景颜色 */
    -fx-pref-width: 25;
}

/* 自定义滚动条上的按钮（向上、向下按钮）样式 */
.scroll-pane .scroll-bar .increment-button,
.scroll-pane .scroll-bar .decrement-button {
    -fx-background-color:  #1A1C22; /* 设置按钮的背景颜色 */
    -fx-background-radius: 0; /* 去除按钮的圆角 */
}

/* 自定义滚动条上的滑块（拖动条）样式 */
.scroll-pane .scroll-bar .thumb {
    -fx-background-color:  #1A1C22; /* 设置滑块的背景颜色 */
    -fx-background-radius: 0; /* 去除滑块的圆角 */
}

#tableQueryResult{
    -fx-background-color: #1A1C22;
}

#row{
    -fx-background-color: #1A1C22;
    -fx-spacing: 50;
}

#tableNameLabel{
    -fx-text-fill: #FFF;
    -fx-font-family: Inter;
    -fx-font-size: 14px;
    -fx-font-style: normal;
    -fx-min-height: 50;
    -fx-line-height: normal;
    -fx-alignment: center;
    -fx-pref-width: 450;
    -fx-background-color: transport;
    -fx-font-weight: 700;
}

#tableNameLabel:hover{
    -fx-text-fill: #F15B22;
    -fx-font-family: Inter;
    -fx-font-size: 14px;
    -fx-font-style: normal;
    -fx-min-height: 50;
    -fx-line-height: normal;
    -fx-alignment: center;
    -fx-pref-width: 450;
    -fx-background-color: black;
    -fx-font-weight: 700;
}