#Main{
    -fx-background-color: #282C35;
}
#sjzyTitle{
    -fx-text-fill: #FFF;
    -fx-font-family: Inter;
    -fx-font-size: 24px;
    -fx-font-style: normal;
    -fx-font-weight: 700;
    -fx-line-height: normal;
}
#sjzyAdd{
    -fx-background-radius: 165px;
    -fx-background-color: #3E424A;
    -fx-text-fill: #FFF;
    -fx-font-family: Inter;
    -fx-font-size: 16px;
    -fx-font-style: normal;
    -fx-font-weight: 700;
    -fx-line-height: normal;
}

#sjzyAdd:hover{
    -fx-background-radius: 165px;
    -fx-background-color: #F15B22;
    -fx-text-fill: #FFF;
    font-family: Inter;
    -fx-font-size: 16px;
    -fx-font-style: normal;
    -fx-font-weight: 700;
    -fx-line-height: normal;
}
.scroll-pane{
    -fx-background-color:#282C35;
}

.scroll-pane .viewport{
    -fx-background-color:#282C35;
}

.scroll-pane .scroll-bar {
    -fx-background-color: rgba(44, 47, 54, 0.8); /* 设置滚动条的背景颜色 */
    -fx-pref-width: 25;
}

/* 自定义滚动条上的按钮（向上、向下按钮）样式 */
.scroll-pane .scroll-bar .increment-button,
.scroll-pane .scroll-bar .decrement-button {
    -fx-background-color:  #1A1C22; /* 设置按钮的背景颜色 */
    -fx-background-radius: 0; /* 去除按钮的圆角 */
}

/* 自定义滚动条上的滑块（拖动条）样式 */
.scroll-pane .scroll-bar .thumb {
    -fx-background-color:  #1A1C22; /* 设置滑块的背景颜色 */
    -fx-background-radius: 0; /* 去除滑块的圆角 */
}


#dataResourceTable{
    -fx-background-color: #282C35;
}

#dataResourceMainRow .label{
    -fx-background-color: #2C2F36;
    -fx-text-fill: #FFF;
    font-family: Inter;
    -fx-font-size: 20px;
    -fx-font-style: normal;
    -fx-font-weight: 500;
    -fx-line-height: normal;
    -fx-border-width: 1px;
    -fx-border-color: rgba(222, 223, 227, 0.35);
}

#dataResourceRow .label{
    -fx-text-fill: #FFF;
    font-family: Inter;
    -fx-font-size: 20px;
    -fx-font-style: normal;
    -fx-font-weight: 500;
    -fx-min-height: 65;
    -fx-max-width: 245;
    -fx-min-width: 245;
    -fx-alignment: center;
}

#dataResourceRow{
    -fx-min-height: 65;
    -fx-border-width: 1px;
    -fx-border-color: rgba(222, 223, 227, 0.35);
}

#buttonBox{
    -fx-spacing: 35;
    -fx-max-width: 425;
    -fx-min-width: 425;
    -fx-min-height: 65;
    -fx-alignment: center;
    -fx-background-color: transport;
}

#buttonBox .button{
    -fx-background-radius: 130px;
    -fx-background-color: #3E424A;
    -fx-max-width: 90;
    -fx-min-width: 90;
    -fx-text-fill: #FFF;
    -fx-font-family: Inter;
    -fx-font-size: 16px;
    -fx-font-style: normal;
    -fx-font-weight: 700;
    -fx-line-height: normal;
}

#buttonBox .button:hover{
    -fx-max-width: 90;
    -fx-min-width: 90;
    -fx-background-radius: 130px;
    -fx-background-color: #F15B22;
    -fx-text-fill: #FFF;
    -fx-font-family: Inter;
    -fx-font-size: 16px;
    -fx-font-style: normal;
    -fx-font-weight: 700;
    -fx-line-height: normal;
}